@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slick-list {
  width: 100%;
}

.header {
  background: linear-gradient(
    180deg,
    rgba(236, 50, 253, 0.17) 0%,
    rgba(20, 21, 44, 0.3) 100%
  );
}

.modal-confirm--show {
  display: flex;
}
